bin/
!bin/console
composer.phar
var/
vendor/
config.xml

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/web/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
